<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HRMS_OrangeHRM/src/com/OrgHRM/Tests/EmpRegTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.OrgHRM.Tests.EmpRegTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HRMS_OrangeHRM"/>
</launchConfiguration>
